@import '../../main.scss';

.MainNavigation{
    min-height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorDarkGrey;
    margin: 0 auto;

    // @include respond(tablet){
    //     display: block;
    //     text-align: start;
    // }
}