@import '../main.scss';


.ResetPassword{

    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border: solid 2px $colorGray;
    
    @include respond(phone){
        width: 80%;
    }
    
    }

    .registerLogin{
        color: $colorDarkOrange;
        font-weight: bold;
        cursor: pointer;
        text-align: end;
        width: max-content;
        padding-top: 10px;
    }
    
    .errorMessage{
    color: $colorRed;
    text-align: start;
    padding: 0;
    }